html {
   scroll-snap-type: y mandatory;
   scroll-behavior: smooth;
}

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

/* body {
   color: lightgray;
   background: #0c0c1d;
} */

html,
body {
   /* overflow-x: hidden; */
   font-family: 'DM Sans';
   /* background-color: ; */
}

a {
   color: inherit;
   text-decoration: none;
}
